/*-----------------------------------------
#Estilos generales
-----------------------------------------*/

/*llamar fuentes online*/
@font-face {
    font-family: aileron;
    src: url(assets/fuentes/Aileron-Black.otf);
}
@font-face {
    font-family: hind;
    src: url(assets/fuentes/Hind-Light.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    font-family: hind;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    text-align: center;
}

@media (max-width: 991.98px) {
    body{
        overflow: initial;
        height: auto;
    }
 }

 /*botones*/
.fondo-morado{
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    color: #fff;
}

.btn{
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.1), 0 15px 12px rgba(0,0,0,0.1);
    transform: translateY(-2px);
    transition:ease transform .1s;
}

/*---------------------------
Formularios
-----------------------------*/

main{
    width: 100%;
    padding: 0px auto;
}

main h1{
    padding:30px 0px 50px 5px;   
}

form{
    display: block;
    width: 100%;
    margin: 0px;
}
.fieldset{
    background-color: #fff;
    color: #78909C;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 999999;
    position: relative;
    font-size: 20px;
    letter-spacing: 1.5px;
    max-width: 40rem;
    margin: 0px auto;
}

fieldset div{
    font-weight: bold;
    padding: 0px 0px 10px 0px;
    color: #5e717a;
}
input:not([type="submit"])::placeholder, select::placeholder{
    opacity: .3;
    font-size: 15px;
    font-weight:400;
}
input:not([type="submit"]), textarea, select {
    padding: 1rem;
    display: block;
    width: 95%;
    background-color: rgba(76, 65, 119, 0.05);
    border: none;
    border-radius: 3px;
    margin-bottom: 2rem;
}
label{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: left;
    display: block;
}

/*---------------------------
Cuadros de contenido
-----------------------------*/

.contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 9999999;
}

.contenido .card{
    height: 100%;
    padding: 0px 30px;
    flex-grow: 1;
}

.contenido img{
    width: 2.5rem;
    height: auto;
    margin: 0px;
}  
.contenido span{
    border: solid 4px;
    padding: 15px;
    border-radius: 100%;
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    opacity: .5;
    margin-bottom: 40px;
}  
.contenido p{
   color: #fff;
   font-size: 20px;
   line-height: 25px;
   opacity: .9;
   margin-top: 30px;
}

@media (max-width: 991.98px) {
    .contenido{
        flex-direction: column;
    }
    .contenido .card{
        margin-top: 150px;
    }
 }

 @media (max-width: 767.98px) {

  }

/*---------------------------
Navbar
-----------------------------*/

#landing_navbar img{
    margin-top: 3rem;
    width: 100px;
    height: auto;
    background-position: center center;
}
.landing_navbar{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-shadow: 5px 1px 24px 0px rgba(42,36,66,0.75);
    -webkit-box-shadow: 5px 1px 24px 0px rgba(42,36,66,0.75);
    -moz-box-shadow: 5px 1px 24px 0px rgba(42,36,66,0.75);
}

@media (max-width: 991.98px) {
    .landing_navbar{
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translateX(-100%);
    }
 }

/*---------------------------
Titulos
-----------------------------*/

h1, h2, h3, h4{
    font-family: aileron;
    text-transform: uppercase;
    color: #fff;
}
h1{
    letter-spacing: 4px;
    font-size: 80px;
    line-height: 70px;
    padding-bottom: 30px;
}
 h2{
    font-size: 20px;
    line-height: 22px;
}
h3{
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 20px;
}


/*---------------------------
Animaciones
-----------------------------*/

.cont-animacion{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .2;
    display: block;
    z-index: 1;
  }
  .cont-animacion li{
    position: absolute;
    display: block;
    list-style: none;
    width: 45px;
    height: 45px;
    background-size: cover;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 15s linear infinite;
    bottom: -150px;
    border-radius: 100%;
  }
  .cont-animacion li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s ;
  }
  .cont-animacion li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .cont-animacion li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s ;
  }
  .cont-animacion li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s ;
    animation-duration: 15s;
  }
  .cont-animacion li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  .cont-animacion li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
  }
@keyframes animate{
    0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100%{
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
    }
  }
 @keyframes change{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }

/*---------------------------
Header
-----------------------------*/
   
header{
    padding-top: 50px;
    font-size: 2rem;
    position: relative;
    display: block;
    z-index: 2;
    display: block;
}

.texto-superior{
    font-weight: lighter;
    font-size: 20px;
    line-height: 22px;
    opacity: .9;
}
 .texto-central{
     margin: 0 4rem;
     font-size: 1.5rem;
 }


/*---------------------------
Secciones y rejillas generales
-----------------------------*/

  /*contenedor de la sección principal*/
  .seccion-principal{
    background-size: cover;
    position: relative;
 }

 @media (max-width: 991.98px) {
    .seccion-principal{
        padding-bottom: 200px;
    }
 }


 /*Grilla de la presentación de toda la pagina*/
.grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
    position: relative;
    overflow: hidden;
}

@media (max-width: 991.98px) {
    .grid{
        display: block;
    }
}

 
/*Separación para presentar los 4 productos en 2 columnas*/
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 35px;
    margin-top: 100px;
}
@media (max-width: 767.98px) {
    .main{
        display: block;
    } 
}


/*-----------------------------------------------
Canbios para hacer responsive la página del Index
Para Celular - Por ordenar
-------------------------------------------------*/


@media only screen and (min-width:320px) and (max-width:480px){
    
}

/*Para tablet*/
@media only screen and (min-width:481px) and (max-width:1024px){
    
}

/*Para escritorio*/
@media only screen and (min-width:1025px){
    
}

/*__________________________________________________
Canbios para hacer responsive la página de registro
____________________________________________________

Para Celular*/
@media only screen and (min-width:320px) and (max-width:480px){
    
}

/*Para tablet*/
@media only screen and (min-width:481px) and (max-width:1024px){
    
}

/*Para escritorio*/
@media only screen and (min-width:1025px){

}